# Ajustes obligatorios en producción
DJANGO_SECRET_KEY=reemplace-por-un-valor-aleatorio-largo
DJANGO_ALLOWED_HOSTS=auditoria.mined.gob.sv
DJANGO_CSRF_TRUSTED_ORIGINS=https://auditoria.mined.gob.sv

# PostgreSQL
POSTGRES_DB=auditoria
POSTGRES_USER=auditoria_app
POSTGRES_PASSWORD=reemplace-esta-clave
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Infraestructura
DJANGO_SECURE_SSL_REDIRECT=true
DJANGO_HSTS_SECONDS=3600
FILE_SCAN_REQUIRED=true
FILE_MAX_UPLOAD_MB=20
DEFAULT_FROM_EMAIL=no-responder@mined.gob.sv

